<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the contact page of the home app.</p>
    <a href="{% url 'home'%}">Home</a>
    <a href="{% url 'index'%}">Index</a>
    <a href ="{% url 'todo'%}">Todo</a>

    <div id="contact-list">
    </div>

</body>
<script>  
    const contacts = {{contacts|safe}};     //Retrieving the contacts data from the Django context and storing it in a JavaScript variable
    console.log(contacts);
    const elements = document.getElementById('contact-list'); // DOM Manipulation
    var html = '<ul>';  // Created a variable
        contacts.forEach(contact => {
            html += `<li>${contact.name} - ${contact.profession}</li>`;
        });     // Looping through the contacts array and appending each contact's name and profession to the html variable as a list item
    html += '</ul>';
    elements.innerHTML = html;  // Setting the innerHTML of the contact-list div to the generated html variable, which will display the list of contacts on the page
    console.log(html);

</script>


</html>